*.class

# Package Files #
*.jar
*.war
*.ear
FizzBuzz/build/*
FizzBuzz/.gradle/*
WestphalMovieRent/build/*
WestphalMovieRent/.gradle/*
RESTfulBasicSample/out/*
RESTfulBasicSample/HelloJax/build/*
RESTfulBasicSample/HelloJax/.gradle/*
